In [59]:
import pandas as pd

In [60]:
dataset=pd.read_csv('train.csv')
dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [61]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB  
from sklearn.metrics import accuracy_score    
from sklearn.metrics import confusion_matrix 
from sklearn.preprocessing import LabelEncoder

In [62]:
dataset.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [63]:
dataset.drop(['Cabin','Name'],axis=1)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,female,35.0,1,0,113803,53.1000,S
4,5,0,3,male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...
884,887,0,2,male,27.0,0,0,211536,13.0000,S
885,888,1,1,female,19.0,0,0,112053,30.0000,S
886,889,0,3,female,45.0,1,2,W./C. 6607,23.4500,S
887,890,1,1,male,26.0,0,0,111369,30.0000,C
888,891,0,3,male,32.0,0,0,370376,7.7500,Q

In [64]:
dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [65]:
leb_enc=LabelEncoder()

In [66]:
dataset.Sex=lab_enc.fit_transform(dataset.Sex)

In [67]:
dataset.Ticket=lab_enc.fit_transform(dataset.Ticket)

In [68]:
dataset.Embarked=lab_enc.fit_transform(dataset.Embarked)

As we have to perform bayes theorem on various data so we will create a function and ww will pass values to
it to reduce the code

In [69]:
def naive(x,y):
    x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
    clf=GaussianNB()
    y_pred=clf.fit(x_train,y_train).predict(x_test)
    print('Accuracy Score: ',accuracy_score(y_test,y_pred,normalize=True))
    print('Confusion Matrix: ',confusion_matrix(y_test,y_pred))

# Survived VS Remaining IDV

In [70]:
y=dataset['Survived']
X=dataset[['PassengerId','Pclass','Sex','Age','SibSp',
       'Parch','Ticket','Fare','Embarked']]

In [71]:
print(naive(X,y))

Accuracy Score:  0.7602996254681648
Confusion Matrix:  [[125  32]
 [ 32  78]]
None

# Pclass VS Remaining IDV

In [72]:
y=dataset['Pclass']
X=dataset[['PassengerId','Survived','Sex','Age','SibSp',
       'Parch','Ticket','Fare','Embarked']]

In [73]:
print(naive(X,y))

Accuracy Score:  0.7528089887640449
Confusion Matrix:  [[ 52  14   4]
 [  5  33  11]
 [  5  27 116]]
None

# Gender VS Remaining IDV

In [74]:
y=dataset['Sex']
X=dataset[['PassengerId','Survived','Pclass','Age','SibSp',
       'Parch','Ticket','Fare','Embarked']]

In [75]:
print(naive(X,y))

Accuracy Score:  0.7153558052434457
Confusion Matrix:  [[ 52  46]
 [ 30 139]]
None

# SibSp VS Remaining IDV

In [76]:
y=dataset['SibSp']
X=dataset[['PassengerId','Survived','Pclass','Age','Sex',
       'Parch','Ticket','Fare','Embarked']]

In [77]:
print(naive(X,y))

Accuracy Score:  0.6554307116104869
Confusion Matrix:  [[147  16   2  16   1   0   0]
 [ 34  20   0  11   0   0   0]
 [  6   1   1   0   0   0   0]
 [  2   0   0   2   3   0   0]
 [  0   0   0   0   2   0   0]
 [  0   0   0   0   0   1   0]
 [  0   0   0   0   0   0   2]]
None

# Parch VS Remaining IDV

In [78]:
y=dataset['Parch']
X=dataset[['PassengerId','Survived','Pclass','Age','Sex',
       'SibSp','Ticket','Fare','Embarked']]

In [79]:
print(naive(X,y))

Accuracy Score:  0.6554307116104869
Confusion Matrix:  [[163   9   2  11  13]
 [ 20   5   3   8   4]
 [ 11   7   7   1   1]
 [  1   0   0   0   0]
 [  0   0   0   1   0]]
None

# Embarked VS Remaining IDV

In [49]:
y=dataset['Embarked']
X=dataset[['PassengerId','Survived','Pclass','Age','Sex',
       'SibSp','Ticket','Fare','Parch']]

In [52]:
print(naive(X,y))

Accuracy Score:  0.6591760299625468
Confusion Matrix:  [[ 23   3  23]
 [  0  12  10]
 [ 24  31 141]]
None