In [1]:
import os
os.chdir("D:\sneha\AIML\Python")

In [2]:
import pandas as pd

In [8]:
dataset=pd.read_excel("general_data.xlsx")

In [9]:
dataset1=dataset.dropna()

In [12]:
dataset1

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8

Chisquare Test

# 1.Test between Attrition and Gender

In [11]:
from scipy.stats import chi2_contingency

In [13]:
chitable=pd.crosstab(dataset1.Attrition,dataset1.Gender)

In [14]:
chitable

Gender     Female  Male
Attrition
No           1488  2189
Yes           268   437

In [15]:
stats,p,dof,expected=chi2_contingency(chitable)

In [16]:
print(stats,p)

1.3825823839528295 0.23966176275638887

p(0.2396)>0.05

Accept Ho

There is no dependency between Attrition and Gender

# 2.Test between Attrition and EducationField

In [17]:
chitable2=pd.crosstab(dataset1.Attrition,dataset1.EducationField)

In [18]:
chitable2

EducationField,Human Resources,Life Sciences,Marketing,Medical,Other,Technical Degree
Attrition,,,,,,
No,48,1505,400,1163,214,347
Yes,32,301,75,222,30,45

In [19]:
stats,p,dof,expected=chi2_contingency(chitable2)

In [20]:
print(stats,p)

43.132860148900384 3.472896220587872e-08

p<0.05

Reject Ho

There is dependency between Attrition and EducationField

# 3.Test between Attrition and PercentSalaryHike

In [23]:
chitable3=pd.crosstab(dataset1.Attrition,dataset1.PercentSalaryHike)

In [24]:
chitable3

PercentSalaryHike,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25
Attrition,,,,,,,,,,,,,,,
No,538,502,522,510,239,202,199,227,186,138,115,138,68,54,39
Yes,90,89,100,87,63,29,43,39,42,27,27,30,15,9,15

In [25]:
stats,p,dof,expected=chi2_contingency(chitable3)

In [26]:
print(stats,p)

19.132665173042696 0.15994173676121282

p>0.05

Accept Ho

There is no dependency between Attrition and PercentSalaryHike

# 4.Test between Attrition and YearsAtCompany

In [27]:
chitable4=pd.crosstab(dataset1.Attrition,dataset1.YearsAtCompany)

In [28]:
chitable4

YearsAtCompany,0,1,2,3,4,5,6,7,8,9,...,27,29,30,31,32,33,34,36,37,40
Attrition,,,,,,,,,,,,,,,,,,,,,
No,84,333,300,322,272,521,200,235,212,219,...,6,6,3,6,6,12,3,6,3,0
Yes,47,176,81,59,56,61,27,33,27,24,...,0,0,0,3,3,3,0,0,0,3

In [29]:
stats,p,dof,expected=chi2_contingency(chitable4)

In [30]:
print(stats,p)

284.1905063085053 2.434867576146702e-40

p<0.05

Reject Ho

There is dependency between Attrition and YearsAtCompany

# 5.Test between Attrition and Department

In [32]:
chitable5=pd.crosstab(dataset1.Attrition,dataset1.Department)

In [33]:
chitable5

Department  Human Resources  Research & Development  Sales
Attrition
No                      132                    2416   1129
Yes                      55                     449    201

In [34]:
stats,p,dof,expected=chi2_contingency(chitable5)

In [35]:
print(stats,p)

25.89432541916022 2.382970570769315e-06

p<0.05

Reject Ho

There is dependency between Attrition and Department

# 6.Test between Attrition and BusinessTravel

In [36]:
chitable6=pd.crosstab(dataset1.Attrition,dataset1.BusinessTravel)

In [37]:
chitable6

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
No                     412                621           2644
Yes                     36                204            465

In [38]:
stats,p,dof,expected=chi2_contingency(chitable6)

In [39]:
print(stats,p)

70.07594084831366 6.07019702736392e-16

p<0.05

Reject Ho

There is dependency between Attrition and BusinessTravel