___Bank Loan Modelling___

___Random Forest Analysis___

In [32]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [33]:
dataset=pd.read_excel('Bank_Personal_Loan_Modelling.xlsx',sheet_name='Data')

In [34]:
dataset.drop(columns='ID')
dataset.drop(columns='ZIP Code')

,ID,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,3,0.8,1,0,0,0,0,1,1

In [35]:
dataset.isna().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [36]:
dataset.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [37]:
dataset= dataset.astype(np.int64)

In [38]:
dataset.drop_duplicates()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0,1,0,0,0,0,1,1

In [39]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [40]:
# no need to ude label encoder as all elements are already numerical

In [41]:
features=['Age','Experience','Income','Family','CCAvg',
       'Education','Mortgage','Securities Account',
       'CD Account','Online','CreditCard']

In [42]:
rf_model.fit(X=dataset[features],y=dataset['Personal Loan'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [43]:
print(rf_model.oob_score_)

0.989

In [44]:
for features,imp in zip(features,rf_model.feature_importances_):
     print(features,imp)

Age 0.05017584126597384
Experience 0.049973135549505755
Income 0.35534415550941756
Family 0.09994263147479526
CCAvg 0.15461999127026477
Education 0.16662792324139708
Mortgage 0.04442905305470186
Securities Account 0.005944509677409734
CD Account 0.05296746446568064
Online 0.009161791277081664
CreditCard 0.010813503213771952

Income has maximum importance

___Decision Tree___

In [45]:
tree_model=tree.DecisionTreeClassifier()

In [46]:
# Independent variable(output of random forest)=Income
predict=pd.DataFrame([dataset.Income]).T

In [47]:
tree_model=tree.DecisionTreeClassifier(max_depth=8)

In [48]:
tree_model.fit(X=predict,y=dataset['Personal Loan'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [51]:
#creating dot file
with open('Project3Dtree.dot','w') as f:
     f=tree.export_graphviz(tree_model,feature_names=['Income'],out_file=f);

In [52]:
tree_model.score(X=predict,y=dataset['Personal Loan'])

0.917