___Atrition Rate Analysis___

___Random Forest Analysis___

In [104]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [105]:
data=pd.read_csv('general_data (1).csv')

In [106]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [107]:
data.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [108]:
data.NumCompaniesWorked.mean()

2.6948303347756775

In [109]:
data.TotalWorkingYears.mean()

11.279936378095888

In [110]:
new_NumCompaniesWorked=np.where(data['NumCompaniesWorked'].isnull(),3,data['NumCompaniesWorked'])
data['NumCompaniesWorked']=new_NumCompaniesWorked

In [111]:
new_TotalWorkingYears=np.where(data['TotalWorkingYears'].isnull(),11,data['TotalWorkingYears'])
data['TotalWorkingYears']=new_TotalWorkingYears

In [112]:
data.isna().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [113]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [117]:
data.drop_duplicates()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,11.0,6,21,3,9

In [118]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [119]:
lab_enc=LabelEncoder()

In [120]:
# using label encoder we will convert categorical variable to numerical variable
data.Attrition=lab_enc.fit_transform(data.Attrition)

In [121]:
data.BusinessTravel=lab_enc.fit_transform(data.BusinessTravel)

In [122]:
data.Department=lab_enc.fit_transform(data.Department)

In [123]:
data.EducationField=lab_enc.fit_transform(data.EducationField)

In [124]:
data.Gender=lab_enc.fit_transform(data.Gender)

In [125]:
data.JobRole=lab_enc.fit_transform(data.JobRole)

In [126]:
data.MaritalStatus=lab_enc.fit_transform(data.MaritalStatus)

In [127]:
data.Over18=lab_enc.fit_transform(data.Over18)

In [128]:
features=['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [129]:
rf_model.fit(X=data[features],y=data['Attrition'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [130]:
print(rf_model.oob_score_)

0.9997732426303855

In [131]:
for features,imp in zip(features,rf_model.feature_importances_):
     print(features,imp)

Age 0.09215923701348243
BusinessTravel 0.027699024796616983
Department 0.02537261049135916
DistanceFromHome 0.06710752766585017
Education 0.0390038368103432
EducationField 0.040231966172620176
EmployeeCount 0.0
EmployeeID 0.037141860664581076
Gender 0.017554065461607104
JobLevel 0.03631162924696453
JobRole 0.053340517681649595
MaritalStatus 0.03821269663841204
MonthlyIncome 0.08796169767624956
NumCompaniesWorked 0.05397243575581357
Over18 0.0
PercentSalaryHike 0.06281636893384131
StandardHours 0.0
StockOptionLevel 0.03267204254828233
TotalWorkingYears 0.08204938682751223
TrainingTimesLastYear 0.0435401829870105
YearsAtCompany 0.06790288989426575
YearsSinceLastPromotion 0.04112373034667834
YearsWithCurrManager 0.05382629238685986

Age has maximum importance

___Decision Tree___

In [132]:
tree_model=tree.DecisionTreeClassifier()

In [133]:
# Independent variable(output of random forest)=Age
predict=pd.DataFrame([data.Age]).T

In [134]:
tree_model=tree.DecisionTreeClassifier(max_depth=8)

In [135]:
tree_model.fit(X=predict,y=data['Attrition'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [138]:
#creating dot file
with open('Project2Dtree.dot','w') as f:
     f=tree.export_graphviz(tree_model,feature_names=['Age'],out_file=f);

In [139]:
tree_model.score(X=predict,y=data['Attrition'])

0.8414965986394558